In [1]:
import requests
import json
import pandas as pd
from getpass import getpass
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import os
import geopandas as gpd
from cartoframes.viz import Map, Layer, popup_element
from dotenv import load_dotenv
import time
from pymongo import MongoClient
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use("classic")
sns.set(rc={"figure.figsize":(12,6)})

In [2]:
#btc = pd.read_csv("/Users/victorramos/documents/ironhack/Proyectos Ironhack/Project 4/data/Bitcoin_tweets.csv")

/var/folders/xg/5p4xxrrj0j72hsmzz42f5_mh0000gp/T/ipykernel_1293/2526135808.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  btc = pd.read_csv("/Users/victorramos/documents/ironhack/Proyectos Ironhack/Project 4/data/Bitcoin_tweets.csv")

In [3]:
#btc.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,DeSota Wilson,"Atlanta, GA","Biz Consultant, real estate, fintech, startups...",2009-04-26 20:05:09,8534.0,7605,4838,False,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,['bitcoin'],Twitter Web App,False
1,CryptoND,NaN,ðŸ˜Ž BITCOINLIVE is a Dutch platform aimed at inf...,2019-10-17 20:12:10,6769.0,1532,25483,False,2021-02-10 23:58:48,"ðŸ˜Ž Today, that's this #Thursday, we will do a ""...","['Thursday', 'Btc', 'wallet', 'security']",Twitter for Android,False
2,Tdlmatias,"London, England","IM Academy : The best #forex, #SelfEducation, ...",2014-11-10 10:50:37,128.0,332,924,False,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",NaN,Twitter Web App,False
3,Crypto is the future,NaN,I will post a lot of buying signals for BTC tr...,2019-09-28 16:48:12,625.0,129,14,False,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,"['Bitcoin', 'FX', 'BTC', 'crypto']",dlvr.it,False
4,Alex Kirchmaier ðŸ‡¦ðŸ‡¹ðŸ‡¸ðŸ‡ª #FactsSuperspreader,Europa,Co-founder @RENJERJerky | Forbes 30Under30 | I...,2016-02-03 13:15:55,1249.0,1472,10482,False,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,['BTC'],Twitter Web App,False

In [6]:
#btc.drop(columns=["user_description", "user_friends", "source", "hashtags"], inplace=True)

In [8]:
#btc['user_favourites'] = pd.to_numeric(btc['user_favourites'], errors='coerce')
#btc['user_followers'] = pd.to_numeric(btc['user_followers'], errors='coerce')

In [9]:
# Delete rows with user_favourites < 500
#btc = btc[btc['user_favourites'] >= 500]

# Delete rows with user_followers < 500
#btc = btc[btc['user_followers'] >= 500]

In [13]:
#btc.to_csv("/Users/victorramos/documents/ironhack/Proyectos Ironhack/Project 4/data/btc.csv")

In [2]:
btc = pd.read_csv("/Users/victorramos/documents/ironhack/Proyectos Ironhack/Project 4/data/btc.csv")

In [7]:
btc.drop(columns=["is_retweet"], inplace=True)

In [4]:
# Assuming your DataFrame is named "df"
btc.set_index("Unnamed: 0", inplace=True)

In [9]:
btc['user_location'] = btc['user_location'].fillna('unspecified')

In [47]:
btc.head()

,user_name,user_location,user_created,user_followers,user_favourites,user_verified,twit_date,text,sentiment,sentiment_category
Unnamed: 0,,,,,,,,,,
0,DeSota Wilson,"Atlanta, GA",2009-04-26 20:05:09,8534.0,4838.0,False,2021-02-10,Blue Ridge Bank shares halted by NYSE after #b...,0.2960,less_positive
1,CryptoND,unspecified,2019-10-17 20:12:10,6769.0,25483.0,False,2021-02-10,"ðŸ˜Ž Today, that's this #Thursday, we will do a ""...",0.8225,very_positive
4,Alex Kirchmaier ðŸ‡¦ðŸ‡¹ðŸ‡¸ðŸ‡ª #FactsSuperspreader,Europa,2016-02-03 13:15:55,1249.0,10482.0,False,2021-02-10,This network is secured by 9 508 nodes as of t...,0.4019,less_positive
5,ZerrBenzâ„¢ âš” âœª 20732,"Bkk, Thailand",2010-01-12 07:00:04,742.0,2444.0,False,2021-02-10,ðŸ’¹ Trade #Crypto on #Binance \n\nðŸ“Œ Enjoy #Cashb...,0.4939,less_positive
9,DeSota Wilson,"Atlanta, GA",2009-04-26 20:05:09,8534.0,4838.0,False,2021-02-10,.@Teslaâ€™s #bitcoin investment is revolutionary...,0.0000,neutral

In [148]:
print(btc["user_verified"].dtype)

bool

In [46]:
def categorize_sentiment(sentiment):
    if sentiment >= 0.8:
        return 'very_positive'
    elif sentiment > 0.5 and sentiment < 0.8:
        return 'positive'
    elif sentiment > 0 and sentiment < 0.5:
        return 'less_positive' 
    elif sentiment == 0:
        return 'neutral'
    elif sentiment > -0.5 and sentiment < 0:
        return 'pessimist'
    else:
        return 'negative'

btc['sentiment_category'] = btc['sentiment'].apply(categorize_sentiment)

In [35]:
btc['twit_date'] = pd.to_datetime(btc['twit_date'])

In [20]:

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [21]:
sia = SentimentIntensityAnalyzer()

In [23]:
btc["sentiment"] = btc.text.apply(lambda x: sia.polarity_scores(x)["compound"])

In [26]:
btc['date'] = btc['date'].str.split(' ').str[0]

In [29]:
btc = btc.rename(columns={'date': 'twit_date'})

In [8]:
load_dotenv()

True

In [11]:
password = os.getenv("sql_password")

In [14]:
dbName = "project4"

In [15]:
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [16]:
import sqlalchemy as alch

In [17]:
engine = alch.create_engine(connectionData)

In [18]:
def upload_dataframe_with_name(df,name):
    ''' This function takes a dataframe and a name,
        reads the dataframe and uploads it under the name we input'''
    try:
        df.to_sql(name,engine,if_exists='replace', index= False)
        print(f'The {name} files has been uploaded to SQL successfully.')
    except:
        print(f'There was an error during your {name} update')

In [126]:
upload_dataframe_with_name(btc,'btc_twitter')

The btc_twitter files has been uploaded to SQL successfully.

In [57]:
from bs4 import BeautifulSoup

In [84]:

# Send an HTTP GET request to the Wikipedia page
response = requests.get('https://en.wikipedia.org/wiki/History_of_Federal_Open_Market_Committee_actions')

# Create a BeautifulSoup object to parse the HTML content of the response
soup = BeautifulSoup(response.content, 'html.parser')

# Find the "FOMC Federal Funds Rate History" table by its class name
table = soup.find('table', {'class': 'wikitable sortable'})

# Extract the column names from the table header row
header = [th.text.strip() for th in table.find_all('th')]

# Extract the table data rows and their cells
rows = []
for tr in table.find_all('tr'):
    cells = [td.text.strip() for td in tr.find_all('td')]
    if cells:
        rows.append(cells)

# Create a pandas DataFrame from the table data
fed_int = pd.DataFrame(rows, columns=header)

In [103]:
fed_int

    raise_date Fed. Funds Rate Discount Rate Votes               Notes
0   2023-02-01     4.50%â€“4.75%         4.75%  12â€“0  Official statement
1   2022-12-14     4.25%â€“4.50%         4.50%  12â€“0  Official statement
2   2022-11-02     3.75%â€“4.00%         4.00%  12â€“0  Official statement
3   2022-09-21     3.00%â€“3.25%         3.25%  12â€“0  Official statement
4   2022-07-27     2.25%â€“2.50%         2.50%  12â€“0  Official statement
..         ...             ...           ...   ...                 ...
104 2000-08-22           6.50%         6.00%        Official statement
105 2000-06-28           6.50%         6.00%        Official statement
106 2000-05-16           6.50%         6.00%        Official statement
107 2000-03-21           6.00%         5.50%        Official statement
108 2000-02-02           5.75%         5.25%        Official statement

[109 rows x 5 columns]

In [97]:
fed_int = fed_int.rename(columns={"Date": "raise_date"})

In [101]:
print(fed_int['raise_date'].dtypes)

datetime64[ns]

In [102]:
fed_int['raise_date'] = pd.to_datetime(fed_int['raise_date'])

In [104]:
mask_fed_int = (fed_int['raise_date'] >= '2021-01-01')

In [112]:
mask = fed_int['raise_date'] < pd.to_datetime('2021-02-01')
rows_to_drop = fed_int[mask]

# Drop the selected rows from the DataFrame
fed_int = fed_int.drop(rows_to_drop.index)

In [110]:
fed_int.drop(columns=["Votes", "Notes"], inplace=True)

In [119]:
fed_int[['previous_rate', 'new_rate']] = fed_int['Fed. Funds Rate'].str.split('â€“', expand=True)


# Strip leading and trailing whitespace from the new columns
fed_int['previous_rate'] = fed_int['previous_rate'].str.strip()
fed_int['new_rate'] = fed_int['new_rate'].str.strip()

In [128]:
fed_int = fed_int.rename(columns={"Discount Rate": "discount_rate"})

In [129]:
fed_int

  raise_date discount_rate previous_rate new_rate
0 2023-02-01         4.75%         4.50%    4.75%
1 2022-12-14         4.50%         4.25%    4.50%
2 2022-11-02         4.00%         3.75%    4.00%
3 2022-09-21         3.25%         3.00%    3.25%
4 2022-07-27         2.50%         2.25%    2.50%
5 2022-06-15         1.75%         1.50%    1.75%
6 2022-05-04         1.00%         0.75%    1.00%
7 2022-03-16         0.50%         0.25%    0.50%

In [121]:
fed_int.drop(columns=["Fed. Funds Rate"], inplace=True)

In [130]:
upload_dataframe_with_name(fed_int,'fed_int')

The fed_int files has been uploaded to SQL successfully.

In [137]:
btc["user_followers"].median()

2419.0

In [138]:
btc["user_followers"].max()

24131346.0

In [140]:
num_rows = (btc['user_followers'] > 1000000).sum()

In [141]:
print("Number of rows where user_followers > 1000000:", num_rows)

Number of rows where user_followers > 1000000: 4942

In [146]:
filtered_btc = btc[btc['user_followers'] > 1000000]

In [147]:
filtered_btc.median()

/var/folders/xg/5p4xxrrj0j72hsmzz42f5_mh0000gp/T/ipykernel_1611/521060997.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  filtered_btc.median()
/var/folders/xg/5p4xxrrj0j72hsmzz42f5_mh0000gp/T/ipykernel_1611/521060997.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  filtered_btc.median()

user_followers     1654833.0
user_favourites      10086.0
user_verified            1.0
sentiment                0.0
dtype: float64